.MainContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: aqua;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
}

.TitleContainer {
    padding: 40px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitleContainer h1 {
    color: #FABADA;
}