body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  border: 5px solid rgba(47, 81, 126, 0.678);
  border-radius: 12px;  
  background-color: #838aac28;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.characterContainer img {
  border-radius: 12px;
  width: 100%;
  max-width: 180px;
  height: auto;
  box-shadow: 2px 2px 5px black;
}